<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
    rel="stylesheet"
    href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css"
  />
  <link rel="stylesheet" href="style/stylesheet.css">
  <link rel="shortcut icon" type="image/ico" href="images/favicon.jpeg">
    <title>Express Movies</title>
  </head>
  <body>

    <div class="header">
    <header>
      <nav class="navbar" role="navigation" aria-label="main navigation">
        <div class="navbar-brand">
          <a class="navbar-item" href="https://bulma.io">
            <img
              src="images/favicon.jpeg"
              max-width: 100%;
              height: auto;
            />
          </a>
          <a
            role="button"
            class="navbar-burger"
            aria-label="menu"
            aria-expanded="false"
            data-target="navbarBasicExample"
          >
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
          </a>
        </div>

        <div id="navbarBasicExample" class="navbar-menu">
          <div class="navbar-start">
            <a class="navbar-item"> Home </a>
            <a class="navbar-item"> About </a>
            <a class="navbar-item"> Contact Us </a>

            <div class="navbar-item has-dropdown is-hoverable">
              <a class="navbar-link"> Categories </a>

              <div class="navbar-dropdown">
                <a class="navbar-item"> Action </a>
                <a class="navbar-item"> Comedy </a>
                <a class="navbar-item"> Drama </a>
                <a class="navbar-item"> Romance </a>
                <a class="navbar-item"> Fantasy </a>
                <a class="navbar-item"> Horror </a>
                <a class="navbar-item"> Mystery </a>
                <a class="navbar-item"> Thriller </a>
                <hr class="navbar-divider" />
                <a class="navbar-item"> Report an issue </a>
              </div>
            </div>
          </div>

          <div class="navbar-end">
            <div class="navbar-item">
              <div class="buttons">
                <a class="button is-primary">
                  <strong>Sign up</strong>
                </a>
                <a class="button is-light"> <strong>Log in</strong> </a>
              </div>
            </div>
          </div>
        </div>
      </nav>
      <section class="hero is-link">
        <div class="hero-body">
          <p class="title">Express Movies</p>
          <p class="subtitle">Check out the last reviews of your favorites movies!</p>
        </div>
      </section>
    </header>
</div>


<!-- Contact us form -->
    <div class="modal is-active">
        <div class="modal-background"></div>
        <div class="modal-card">
          <header class="modal-card-head">
            <p class="modal-card-title">Send us a message</p>
            <button class="delete" aria-label="close"></button>
          </header>
          <section class="modal-card-body">
            <p>Full name</p>
            <br>
            <input class="input is-info" type="text" placeholder="Info input">
            <br>
            <br>
            <p>Email</p>
            <br>
            <input class="input is-info" type="email" placeholder="Info input">
            <br>
            <br>
            <p>Message</p>
            <br>
            <input class="input is-info" type="text" placeholder="Info input">
            <br>
            <br>
          </section>
          <footer class="modal-card-foot">
            <button class="button is-success">Submit</button>
            <button class="button">Cancel</button>
          </footer>
        </div>
      </div>


    <!-- Cards -->
    <!-- First row -->
    <div class="container">
    <div class="columns">
      <div class="column">
        <!-- first card -->
        <div class="card">
          <div class="card-image">
            <figure class="image is-864by1297">
              <img id="poster-0"
              />
            </figure>
          </div>
          <div class="card-content">
            <div class="media">
              <div class="media-content">
                <p class="title is-4" id="title-0"></p>
                <p class="subtitle is-6" id="description-0"></p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- Second card -->
      <div class="column">
        <div class="card">
          <div class="card-image">
            <figure class="image is-864by1297">
              <img id="poster-1"
              />
            </figure>
          </div>
          <div class="card-content">
            <div class="media">
              <div class="media-content">
                <p class="title is-4" id="title-1"></p>
                <p class="subtitle is-6" id="description-1"></p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- Third card -->
      <div class="column">
        <div class="card">
          <div class="card-image">
            <figure class="image is-864by1297">
              <img id="poster-2"
              />
            </figure>
          </div>
          <div class="card-content">
            <div class="media">
              <div class="media-content">
                <p class="title is-4" id="title-2"></p>
                <p class="subtitle is-6" id="description-2"></p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- Fourth card -->
      <div class="column">
        <div class="card">
          <div class="card-image">
            <figure class="image is-864by1297">
              <img id="poster-3"
              />
            </figure>
          </div>
          <div class="card-content">
            <div class="media">
              <div class="media-content">
                <p class="title is-4" id="title-3"></p>
                <p class="subtitle is-6" id="description-3"></p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
<!-- Cards -->
{{!-- Second row --}}
<div class="container">
    <div class="columns">
      <div class="column">
        <!-- first card -->
        <div class="card">
          <div class="card-image">
            <figure class="image is-864by1297">
              <img id="poster-4"
              />
            </figure>
          </div>
          <div class="card-content">
            <div class="media">
              <div class="media-content">
                <p class="title is-4" id="title-4"></p>
                <p class="subtitle is-6" id="description-4"></p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- Second card -->
      <div class="column">
        <div class="card">
          <div class="card-image">
            <figure class="image is-864by1297">
              <img id="poster-5"
              />
            </figure>
          </div>
          <div class="card-content">
            <div class="media">
              <div class="media-content">
                <p class="title is-4" id="title-5"></p>
                <p class="subtitle is-6" id="description-5"></p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- Third card -->
      <div class="column">
        <div class="card">
          <div class="card-image">
            <figure class="image is-864by1297">
              <img id="poster-6"
              />
            </figure>
          </div>
          <div class="card-content">
            <div class="media">
              <div class="media-content">
                <p class="title is-4" id="title-6"></p>
                <p class="subtitle is-6" id="description-6"></p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- Fourth card -->
      <div class="column">
        <div class="card">
          <div class="card-image">
            <figure class="image is-864by1297">
              <img id="poster-7"
              />
            </figure>
          </div>
          <div class="card-content">
            <div class="media">
              <div class="media-content">
                <p class="title is-4" id="title-7"></p>
                <p class="subtitle is-6" id="description-7"></p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
    <!-- Cards -->
    {{!-- Third row --}}
    <div class="container">
    <div class="columns">
      <div class="column">
        <!-- first card -->
        <div class="card">
          <div class="card-image">
            <figure class="image is-864by1297">
              <img id="poster-8"
              />
            </figure>
          </div>
          <div class="card-content">
            <div class="media">
              <div class="media-content">
                <p class="title is-4" id="title-8"></p>
                <p class="subtitle is-6" id="description-8"></p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- Second card -->
      <div class="column">
        <div class="card">
          <div class="card-image">
            <figure class="image is-864by1297">
              <img id="poster-9"
              />
            </figure>
          </div>
          <div class="card-content">
            <div class="media">
              <div class="media-content">
                <p class="title is-4" id="title-9"></p>
                <p class="subtitle is-6" id="description-9"></p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- Third card -->
      <div class="column">
        <div class="card">
          <div class="card-image">
            <figure class="image is-864by1297">
              <img id="poster-10"
              />
            </figure>
          </div>
          <div class="card-content">
            <div class="media">
              <div class="media-content">
                <p class="title is-4" id="title-10"></p>
                <p class="subtitle is-6" id="description-10"></p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- Fourth card -->
      <div class="column">
        <div class="card">
          <div class="card-image">
            <figure class="image is-864by1297">
              <img id="poster-11"
              />
            </figure>
          </div>
          <div class="card-content">
            <div class="media">
              <div class="media-content">
                <p class="title is-4" id="title-11"></p>
                <p class="subtitle is-6" id="description-11"></p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
</div>

<script src="js/home.js"></script>
<script src="js/contact-us.js"></script>
