<div class="movie-id">

<h1 class="movie-name">Movie Name:</h1>
<p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Nostrum voluptate consequuntur obcaecati. Aut reprehenderit aliquid labore dicta temporibus accusantium cumque voluptatum? Molestias doloremque distinctio blanditiis saepe harum debitis eaque neque.</p>

<img src="images/poster.jpeg" alt="poster">

<h2 class="desc">Description:</h2>
<p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Molestias veritatis dignissimos a, aliquam quia doloribus quos sed fugit repudiandae rerum, cum ipsum, impedit repellat quidem. Dolor veritatis necessitatibus delectus voluptatibus.</p>
</div>

<script src="js/movepage.js"></script>